<h1>About switBUKS</h1>
<span>Pretty cool huh!?</span>
<div class="jumbo">
  <div class="blendie"></div>
  <p>
    The Super Rentals website is a delightful project created to explore Ember.
    By building a property rental site, we can simultaneously imagine traveling
    AND building Ember applications.
  </p>
</div>
